<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Staging</key>
	<dict>
		<key>InfluencersBaseURL</key>
		<string>https://api-dev.govyrl.io</string>
		<key>MainBaseURL</key>
		<string>http://54.193.54.182/api</string>
		<key>FAQ</key>
		<string>https://s3-us-west-1.amazonaws.com/vyrl-mobile/web/faq.html</string>
		<key>ToS</key>
		<string>https://s3-us-west-1.amazonaws.com/vyrl-mobile/web/tos_privacy.html</string>
	</dict>
	<key>Production</key>
	<dict>
		<key>FAQ</key>
		<string></string>
		<key>ToS</key>
		<string></string>
		<key>InfluencersBaseURL</key>
		<string></string>
		<key>MainBaseURL</key>
		<string></string>
	</dict>
</dict>
</plist>
