<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Staging</key>
	<dict>
		<key>BugReportURL</key>
		<string>http://bugreport.com</string>
		<key>ShareURL</key>
		<string>http://share.com</string>
		<key>ToS</key>
		<string>http://tos.com</string>
		<key>FAQ</key>
		<string>http://faq.com</string>
		<key>MainBaseURL</key>
		<string>http://test.com</string>
		<key>InfluencersBaseURL</key>
		<string>http://influencers.test.com</string>
	</dict>
	<key>Production</key>
	<dict>
		<key>BugReportURL</key>
		<string>http://bugreport.com</string>
		<key>ShareURL</key>
		<string>http://share.com</string>
		<key>FAQ</key>
		<string>http://faq.production.com</string>
		<key>ToS</key>
		<string>http://tos.production.com</string>
		<key>MainBaseURL</key>
		<string>http://production.com</string>
		<key>InfluencersBaseURL</key>
		<string>http://influencers.test.com</string>
	</dict>
</dict>
</plist>
